<h2> SALAS </h2>  

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-success me-md-2" type="button" (click)="nuevoModelo()">Nueva Sala</button>
</div>
<br>

<div *ngIf="!ListaModels"  class="d-flex justify-content-center" style="margin-top: 20px;">
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Cine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of ListaModels" (click)="selectModel(model)">
        <td>{{model.numero}} </td>
        <td>{{model.Cine.nombre}}</td>
      </tr>
    </tbody>
  </table>

  <div [class.ocultar]="!Seleccionado">
    <h2> ACTUALIZAR SALA</h2>
    <form [formGroup]="miFormulario">
      <!-- NOMBRE -->
      Sala #: 
      <input 
      [class.is-invalid]="miFormulario.get('numero')?.touched 
      && miFormulario.get('numero')?.invalid" 
      type="text" class="form-control" 
      formControlName="numero"
      value="{{numero}}"
      >

      <div
      *ngIf="miFormulario.get('numero')?.touched 
      && miFormulario.get('numero')?.invalid">
        <div class="msgError"> Datos incorrectos</div>
      </div>

      <!-- CINE -->
      Cine: 
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Seleccionar cine
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li *ngFor="let miCine of ListaCines" (click)="selectCine(miCine)">
              <a class="dropdown-item">{{miCine.nombre}}</a>
            </li>
        </ul>
      </div>

      <h4> {{nombreCine}}</h4>

      <!-- BOTÓN -->
      
      <br>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit" (click)="updateModel()"> Actualizar </button>
        <button class="btn btn-danger" type="submit" (click)="deleteModel()"> Eliminar </button>
      </div>
    </form>

    <br>
    <div class="alert alert-success" role="alert" *ngIf="updateSucces"> ¡Actualizado correctamente! </div>
    <div class="alert alert-danger" role="alert" *ngIf="updateDanger"> Error al actualizar </div>
 </div>
 <div class="alert alert-success" role="alert" *ngIf="deleteSucces"> ¡Eliminado correctamente! </div>
 <div class="alert alert-danger" role="alert" *ngIf="deleteDanger"> Error al eliminar </div>
