<h2> Nuevo actor</h2>
<div class="container">

    <form [formGroup]="miFormulario">
      <!-- USUARIO -->
      Nombre: 
      <input 
      [class.is-invalid]="miFormulario.get('nombre')?.touched 
      && miFormulario.get('nombre')?.invalid" 
      type="text" class="form-control" 
      formControlName="nombre">

      <div
      *ngIf="miFormulario.get('nombre')?.touched 
      && miFormulario.get('nombre')?.invalid">
        <div class="msgError"> Inserte un valor válido</div>
      </div>
  
      <!-- ALIAS -->

      Alias: 
      <input 
      [class.is-invalid]="miFormulario.get('alias')?.touched 
      && miFormulario.get('alias')?.invalid" 
      type="text" class="form-control" 
      formControlName="alias">

      <div
      *ngIf="miFormulario.get('alias')?.touched 
      && miFormulario.get('alias')?.invalid">
        <div class="msgError"> Inserte un valor válido </div>
      </div>


      <!-- BOTÓN -->
      
      <br>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit" (click)="store()"> Enviar </button>
      </div>
    </form>

    <br>
    <div class="alert alert-success" role="alert" *ngIf="creadoSucces"> ¡Actor creado correctamente! </div>
    <div class="alert alert-danger" role="alert" *ngIf="creadoDanger"> Error al crear Actor </div>

    <br>
    <!--
    {{ miFormulario.value | json}}
    -->
  </div>