<h2> FUNCIONES </h2>  

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-success me-md-2" type="button" (click)="nuevoModelo()">Nueva Función</button>
</div>
<br>

<div *ngIf="!ListaModels"  class="d-flex justify-content-center" style="margin-top: 20px;">
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Cine</th>
        <th scope="col">Sala</th>
        <th scope="col">Fecha</th>
        <th scope="col">Película</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of ListaModels" (click)="selectModel(model)">
        <td> {{model.nombre_cine}} </td>
        <td> Sala #{{model.numero_sala}}</td>
        <td>{{model.fecha}} </td>
        <td>{{model.nombre_pelicula}}</td>
      </tr>
    </tbody>
  </table>